[submodule "compose-course-lunch-tray"]
	path = compose-course-lunch-tray
	url = https://github.com/given8/compose-course-lunch-tray
[submodule "compose-course-reply-app"]
	path = compose-course-reply-app
	url = https://github.com/given8/compose-course-reply-app
